.export-btn {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.export-div {
     position: relative;
     margin-bottom: 5px;
}

/* Remove positioning on small screens */
@media screen and (max-width: 550px) {
  .export-btn {
    position: static;
    top: auto;
    float: none;
    display: block;
    margin-top: 0.5rem;
  }
}